.bar {
    width: 100%;
    height: 50px;
    background-color: rgb(218, 194, 255);
    text-align: center;
    padding-top : 20px;
}

.newBar{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 234, 194);
    text-align: center;
    padding-top : 20px;
    display: none;
}

.show {
    display: block;
}