.box{
    width:100%;
    height:50px;
    border-radius: 10px;
    border: 2px solid rgb(145, 145, 145);
}

.purple {
    background-color : rgb(146, 55, 226)
}

.yellow {
    background-color : rgb(255, 230, 120)
}